.filters{
display: flex;
gap: 30px;
}

.filter{
    width: 174px;
    border: 3px solid black;
    padding: 15px;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
.filter_black{
    background-color: black;
    color: white;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.catalog_name{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 200;
}
input[type="search"]{
    height: 50px;
    font-size: 18px;
    color: #181818;
    padding: 10px 20px;

}