header{

    background-color: #000000;
}
nav{
    display: flex;
    gap: 15px;
    align-items: center;
}
.header_actions{
    display: flex;
    gap: 25px;
}
.h_content{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
}
.h_link{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 300;
}